{% extends "base.html" %}

{% block content_style %}
.content {
    border: solid;
    margin: auto;
    width: 600px;
    margin-top: 10px;
    padding: 10px;
}

input {
    width: 100%;
    margin: 10px;
    box-sizing: border-box;
}


{% endblock content_style %}



{% block content %}
<div class="content">
    <div class="header">
        <p>Delete? <a href="{{ url_for('users', user_url_slug=logname) }}"><b>{{ logname }}</b></a></p>
    </div>

    <form action="{{ url_for('accounts', target=url_for('login')) }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="operation" value="delete"/>
        <input type="submit" name="delete_account" value="confirm delete account"/>
    </form>

</div>
{% endblock content %}
